* { margin: 0; padding: 0; box-sizing: border-box; 

    font-family: "Playfair Display", serif;
}

body {

    background: #fbf3e4;

}

img {

    width: 20%;
    height: auto;
    object-fit: cover;
    display: block;
   margin: 0 auto;
   border-color: #fbf3e4 ;

}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;

}

h1 {

    font-size: 36px;
    color: #4f4ca2;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;

}

label {

    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    text-align: center;

}

input {

    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 210px;

}

button {

    background: #4f4ca2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 15px;


}

p {

    font-size: 28px;
    color: #4f4ca2;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    display: flex;

}

button:hover {

    opacity: 0.8;

}

button:active {

    opacity: 0.6;

}

@media screen and (max-width: 600px) {
    
        img {
            width: 50%;
        }
        h1 {
            font-size: 24px;
        }
       .label1 {
            font-size: 14px;
            display: block;
        }
        .label2 {
            font-size: 14px;
            display: block;
        }
        input {
            display: block;
            width: 100%;
        }

        button {
            display: block;
            width: 100%;
        }
    }
    
